.stripchart .clickable { cursor: crosshair }
.stripchart { position:relative; margin:5px 0px 5px 0px; }
.stripchart canvas { height:100%; width:100%; }
.stripchart table {
    font-size: 80%;
    margin-left: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: rgba(255,255,255,0.6);
}
.stripchart .swatch { height: 8px; width:8px; border: 1px solid black; }
